* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans";
}

.background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url("/images/poker.svg");
    opacity: 0.1;
}

.text-center {
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.green {
    color: green !important;
}

.two-col {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.small-gap {
    gap: 20px;
}

.space-around {
    margin: 50px;
}
