.round-row-outer {
    flex-basis: 30%;
}

.round-row-inner {
    flex-basis: 40%;
}

.delete-round:hover {
    cursor: pointer;
    filter: brightness(0.5);
}

.new-round-btn {
    height: 40px;
    border-radius: 15px;
    padding: 0 20px;
    background-color: rgb(245, 245, 245);
    border: 1px solid black;
}

.new-round-btn:hover {
    filter: brightness(1.1);
    cursor: pointer;
}
