.round-row-outer {
    flex-basis: 30%;
}

.round-row-inner {
    flex-basis: 40%;
}

.delete-round:hover {
    cursor: pointer;
    filter: brightness(0.5);
}

.new-round-btn {
    height: 30px;
    border-radius: 15px;
    padding: 0 10px;
    background-color: rgb(235, 255, 235);
    border: 1px solid green;
}

.new-round-btn:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .round-row-outer {
        flex-basis: 80%;
        width: 80%;
    }
}
